:root{
  --day-width: 40px;
  --active-border: 1px solid black;
  --background-cells: #F1F1F1;
  --border-cells: 1px solid white;
  --border-radius-cells: 0px;
  --color-cells: black;
  --empty: white;
  --gap: 0px;
  --font-size-cells: 14px;

  --font-size-days: 20px;
  --font-size-ym: 20px;
  --border-cal: 1px solid #f1f1f1;
  --border-radius-cal: 0px;
  --background-cal: white;
  --color-cal: black;
  --padding-top-cal: 0px;
  --padding-bottom-cal: 0px;
  --padding-left-cal: 0px;
  --padding-right-cal: 0px;

  --legend-position: column;
}

.calendar-js {
  display: flex;
  flex-direction: var(--legend-position);
  column-gap: 50px;
  row-gap: 10px;
  padding: var(--padding-top-cal) var(--padding-right-cal) var(--padding-bottom-cal) var(--padding-left-cal);

  width: fit-content;
  height: fit-content;

  box-sizing: border-box;

  border: var(--border-cal);
  border-radius: var(--border-radius-cal);
  background: var(--background-cal);
}

.calendar-js .calendar-js-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.calendar-js .calendar-js-header .calendar-js-month {
  font-size: var(--font-size-ym);
  text-transform: uppercase;
  width: 200px;
  text-align: center;
}

.calendar-js .calendar-js-header button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.calendar-js .calendar-js-days {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 25px;
  gap: var(--gap);
}

.calendar-js .calendar-js-days .calendar-js-day {
  font-size: var(--font-size-days);
  text-align: center;
  text-transform: uppercase;
  width: var(--day-width);
}

.calendar-js .calendar-js-body {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.calendar-js .calendar-js-body .calendar-js-week {
  display: grid;
  grid-template-columns: repeat(7, var(--day-width) );
  gap: var(--gap);
  /* padding: 0 15px; */
}

.calendar-js .calendar-js-body .calendar-js-week .calendar-js-week-day {
  font-size: var(--font-size-cells);
  color: var(--color-cells);
  width: var(--day-width);
  height: var(--day-width);

  border: var(--border-cells);
  box-sizing: border-box;
  border-radius: var(--border-radius-cells);
  background: var(--background-cells);

  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-js .calendar-js-body .calendar-js-week .calendar-js-current-day {
  border: var(--active-border);
  /* background: var(--active-background);
  color: var(--active-color); */
}

.calendar-js .calendar-js-body .calendar-js-week .calendar-js-no-day {
  background: var(--empty);
  border: none;
}

.calendar-js .calendar-legends {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.calendar-js .calendar-js-legends .calendar-js-legend {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.calendar-js .calendar-js-legends .calendar-js-legend .calendar-js-legend-sample {
  width: var(--day-width);
  height: var(--day-width);
  border-radius: var(--border-radius-cells);
}

.calendar-js .calendar-js-legends .calendar-js-legend .calendar-js-legend-description {
  text-align: start;
  font-size: var(--font-size-cells);
}




body {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 100px;
  margin: auto;
}


#editor {
  border: 1px solid #efefef;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  width: 700px !important;
  flex: 1;
}

#editor:focus {
}